@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section id="testimonials" class="testimonials section-bg" style="padding-top: 150px">
        <div class="container" data-aos="fade-up">

            <div class="section-header font-loader">
                <p>Some Game <span>You Can Know</span></p>
            </div>

        </div>
    </section><!-- End Testimonials Section -->
</div>
