<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gaming Center</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Practice_MVC.styles.css" asp-append-version="true" />
    <link href="~/mysetup/css/main.css" rel="stylesheet" asp-append-version="true" />
    <style>
        .navbar .container-fluid .d-sm-inline-flex .my-set-1 {
            flex-direction: row;
            justify-content: center
        }

        .navbar .my-set-2 a:focus {
            outline: none;
        }

    </style>
</head>
<body>
    <!-- ======= Header ======= -->
    <header class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <div>
                <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto me-lg-0">
                    <h1>Gaming Center<span>.</span></h1>
                </a>
            </div>

            <div>
                <nav id="navbar" class="navbar">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Cart</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Categories">Categories</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    </ul>
                </nav><!-- .navbar -->
            </div>
            
            <div>
                <nav class="navbar ">
                    <ul class="my-set-2">
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Login</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Signup</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </header><!-- End Header -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Gaming Center - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
